In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df = pd.read_csv('tennis_2015.csv')

In [3]:
df.head(10)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2015-329,Tokyo,Hard,32,A,20151005,1,104527,1.0,NaN,...,1.0,2.0,2.0,71.0,46.0,33.0,10.0,10.0,2.0,5.0
1,2015-329,Tokyo,Hard,32,A,20151005,2,105147,NaN,WC,...,14.0,1.0,4.0,96.0,52.0,25.0,23.0,13.0,12.0,19.0
2,2015-329,Tokyo,Hard,32,A,20151005,3,105572,NaN,Q,...,7.0,15.0,7.0,128.0,74.0,60.0,27.0,18.0,9.0,11.0
3,2015-329,Tokyo,Hard,32,A,20151005,4,105311,NaN,NaN,...,6.0,9.0,5.0,85.0,42.0,27.0,21.0,13.0,4.0,8.0
4,2015-329,Tokyo,Hard,32,A,20151005,5,104468,3.0,NaN,...,6.0,0.0,5.0,61.0,33.0,24.0,10.0,10.0,1.0,5.0
5,2015-329,Tokyo,Hard,32,A,20151005,6,106210,NaN,NaN,...,8.0,10.0,0.0,50.0,32.0,24.0,9.0,10.0,0.0,3.0
6,2015-329,Tokyo,Hard,32,A,20151005,7,104871,NaN,NaN,...,0.0,8.0,5.0,43.0,22.0,15.0,7.0,6.0,5.0,8.0
7,2015-329,Tokyo,Hard,32,A,20151005,8,104180,NaN,NaN,...,4.0,4.0,5.0,46.0,19.0,15.0,9.0,8.0,2.0,5.0
8,2015-329,Tokyo,Hard,32,A,20151005,9,105332,NaN,NaN,...,13.0,3.0,5.0,73.0,49.0,37.0,10.0,13.0,1.0,4.0
9,2015-329,Tokyo,Hard,32,A,20151005,10,104571,NaN,NaN,...,5.0,4.0,0.0,46.0,27.0,15.0,10.0,9.0,1.0,5.0

In [4]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")

In [5]:
missing_values_table(df)

Your selected dataframe has 49 columns.
There are 32 columns that have missing values.

In [6]:
array = ['0']
df.loc[df['w_svpt'].isin(array)]

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
387,2015-540,Wimbledon,Grass,128,G,20150629,72,105053,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1173,2015-6967,Shenzhen,Hard,28,A,20150928,23,104198,4.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1710,2015-6242,Winston-Salem,Hard,48,A,20150823,42,105449,13.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1869,2015-414,Hamburg,Clay,32,A,20150727,26,104312,4.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,2015-341,Metz,Hard,28,A,20150921,21,104259,5.0,WC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
for cell in df['w_svpt']:
	if cell  == 0:
		print("zero in cell")

zero in cell
zero in cell
zero in cell
zero in cell
zero in cell

In [8]:
df = df[np.isfinite(df['w_svpt'])]

In [9]:
clean_df=df[(df != 0).all(1)]

In [10]:
clean_two_df = clean_df.replace({'surface':{'Hard': 1, 'Clay': 2, 'Grass': 3}})
clean_two_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
1,2015-329,Tokyo,1,32,A,20151005,2,105147,NaN,WC,...,14.0,1.0,4.0,96.0,52.0,25.0,23.0,13.0,12.0,19.0
2,2015-329,Tokyo,1,32,A,20151005,3,105572,NaN,Q,...,7.0,15.0,7.0,128.0,74.0,60.0,27.0,18.0,9.0,11.0
3,2015-329,Tokyo,1,32,A,20151005,4,105311,NaN,NaN,...,6.0,9.0,5.0,85.0,42.0,27.0,21.0,13.0,4.0,8.0
7,2015-329,Tokyo,1,32,A,20151005,8,104180,NaN,NaN,...,4.0,4.0,5.0,46.0,19.0,15.0,9.0,8.0,2.0,5.0
8,2015-329,Tokyo,1,32,A,20151005,9,105332,NaN,NaN,...,13.0,3.0,5.0,73.0,49.0,37.0,10.0,13.0,1.0,4.0

In [11]:
df['winner_name'].unique()

array(['Stanislas Wawrinka', 'Tatsuma Ito', 'Austin Krajicek',
       'Joao Sousa', 'Gilles Simon', 'Jiri Vesely', 'Jeremy Chardy',
       'Gilles Muller', 'Benoit Paire', 'Marcos Baghdatis',
       'Nick Kyrgios', 'Roberto Bautista Agut', 'Marin Cilic',
       'Steve Johnson', 'Sam Querrey', 'Kei Nishikori',
       'Alexander Zverev', 'Nicolas Almagro', 'Grigor Dimitrov',
       'John Millman', 'Jack Sock', 'Fernando Verdasco', 'Leonardo Mayer',
       'Federico Delbonis', 'Steve Darcis', 'Tomas Berdych',
       'Richard Gasquet', 'Bastian Trinker', 'Paolo Lorenzi',
       'Philipp Kohlschreiber', 'Dusan Lajovic', 'Andreas Haider Maurer',
       'Martin Klizan', 'Fabio Fognini', 'Damir Dzumhur', 'Borna Coric',
       'Aljaz Bedene', 'Blaz Kavcic', 'Gael Monfils', 'Dominic Thiem',
       'David Goffin', 'Ivo Karlovic', 'Bernard Tomic', 'Jared Donaldson',
       'Jerzy Janowicz', 'Tommy Robredo', 'Thomaz Bellucci',
       'Thanasi Kokkinakis', 'Vasek Pospisil', 'Mardy Fish',
       'Andreas Seppi', 'Feliciano Lopez', 'Kevin Anderson',
       'Novak Djokovic', 'Alexandr Dolgopolov', 'Andy Murray',
       'Rafael Nadal', 'Roger Federer', 'John Isner', 'Milos Raonic',
       'Viktor Troicki', 'Jo Wilfried Tsonga', 'Victor Estrella',
       'Albert Ramos', 'Edouard Roger Vasselin', 'Lukas Rosol',
       'David Ferrer', 'Teymuraz Gabashvili', 'Roberto Carballes Baena',
       'Juan Monaco', 'Mikhail Kukushkin', 'Marcel Granollers',
       'Andrey Kuznetsov', 'Elias Ymer', 'Albert Montanes',
       'Marsel Ilhan', 'Pablo Andujar', 'Andrey Rublev',
       'Santiago Giraldo', 'Pablo Cuevas', 'Jarkko Nieminen',
       'Daniel Gimeno Traver', 'Jurgen Melzer',
       'Diego Sebastian Schwartzman', 'Denis Istomin', 'Ivan Dodig',
       'Andrey Golubev', 'Pierre Hugues Herbert', 'Ricardas Berankis',
       'Matthew Ebden', 'Denis Kudla', 'Liam Broady', 'Kenny De Schepper',
       'Tommy Haas', 'James Ward', 'Dustin Brown', 'Robin Haase',
       'Nicolas Mahut', 'Adrian Mannarino', 'Nikoloz Basilashvili',
       'Samuel Groth', 'James Duckworth', 'Alejandro Gonzalez',
       'Nicolas Jarry', 'Gerald Melzer', 'Alejandro Falla', 'Renzo Olivo',
       'Horacio Zeballos', 'Ernests Gulbis', 'Donald Young',
       'Sergiy Stakhovsky', 'Mikhail Youzhny', 'Radek Stepanek',
       'Radu Albot', 'Benjamin Becker', 'Mischa Zverev', 'Gianni Mina',
       'Lucas Pouille', 'Pablo Carreno Busta', 'Guillermo Garcia Lopez',
       'Simone Bolelli', 'Yen Hsun Lu', 'Peter Gojowczyk', 'Tim Smyczek',
       'Ryan Harrison', 'Malek Jaziri', 'Michael Berrer', 'Igor Sijsling',
       'Victor Hanescu', 'Carlos Berlocq', 'Hyeon Chung',
       'Filip Krajinovic', 'Jan Lennard Struff', 'Lukasz Kubot',
       'Juan Martin Del Potro', 'Julien Benneteau',
       'Daniel Elahi Galan Riveros', 'Rajeev Ram', 'Alexander Sarkissian',
       'Marcelo Demoliner', 'Yuichi Sugita', 'Alejandro Gomez GB42',
       'Adrian Menendez Maceiras', 'Marco Chiudinelli', 'Marius Copil',
       'Illya Marchenko', 'Florian Mayer', 'Evgeny Donskoy',
       'Ruben Bemelmans', 'Yoshihito Nishioka', 'Lleyton Hewitt',
       'Zhizhen Zhang', 'Hiroki Moriya', 'Yan Bai', 'Janko Tipsarevic',
       'Nikola Mektic', 'Blaz Rola', 'Joao Souza', 'Thiemo De Bakker',
       'John Patrick Smith', 'Jan Hernych', 'Lukas Lacko',
       'Stephane Robert', 'Julian Reister', 'Taylor Harry Fritz',
       'Dudi Sela', 'Dennis Novak', 'Paul Henri Mathieu', 'Go Soeda',
       'Matthias Bachinger', 'Marinko Matosevic', 'Christian Lindell',
       'Facundo Arguello', 'Facundo Bagnis', 'Guido Andreozzi',
       'Daniel Brands', 'Taro Daniel', 'Francis Tiafoe', 'Guido Pella',
       'Jaume Munar', 'Luca Vanni', 'Matteo Donati', 'Tobias Kamke',
       'Lamine Ouahab', 'Arthur De Greef', 'Aslan Karatsev',
       'Michael Venus', 'Rui Machado', 'Ze Zhang', 'Kyle Edmund',
       'Andrea Arnaboldi'], dtype=object)

In [12]:
df.shape

(2625, 49)

In [13]:
df['winner_name'].value_counts()

Novak Djokovic                81
Andy Murray                   63
Roger Federer                 61
Rafael Nadal                  60
Tomas Berdych                 57
Stanislas Wawrinka            54
David Ferrer                  53
Kei Nishikori                 50
Kevin Anderson                46
John Isner                    45
Richard Gasquet               43
Roberto Bautista Agut         41
Gilles Simon                  41
Ivo Karlovic                  38
Bernard Tomic                 37
Steve Johnson                 37
Dominic Thiem                 36
Marin Cilic                   35
Joao Sousa                    34
Gael Monfils                  33
Viktor Troicki                33
David Goffin                  33
Jack Sock                     33
Feliciano Lopez               32
Jo Wilfried Tsonga            32
Grigor Dimitrov               32
Guillermo Garcia Lopez        32
Milos Raonic                  32
Gilles Muller                 31
Philipp Kohlschreiber         30
                              ..
Alejandro Gomez GB42           1
Tobias Kamke                   1
Nicolas Jarry                  1
Christian Lindell              1
Daniel Elahi Galan Riveros     1
Roberto Carballes Baena        1
Michael Venus                  1
Alexander Sarkissian           1
Julian Reister                 1
Taylor Harry Fritz             1
Liam Broady                    1
Stephane Robert                1
Yan Bai                        1
Jaume Munar                    1
Bastian Trinker                1
Nikola Mektic                  1
Aslan Karatsev                 1
Matthew Ebden                  1
Kyle Edmund                    1
Gianni Mina                    1
Adrian Menendez Maceiras       1
Arthur De Greef                1
Peter Gojowczyk                1
Andrea Arnaboldi               1
Matteo Donati                  1
Julien Benneteau               1
Zhizhen Zhang                  1
Victor Hanescu                 1
Rui Machado                    1
Guido Pella                    1
Name: winner_name, Length: 191, dtype: int64

In [16]:
df['loser_name'].value_counts()

Adrian Mannarino          30
Joao Sousa                30
Roberto Bautista Agut     29
Lukas Rosol               28
Jiri Vesely               28
Martin Klizan             27
Borna Coric               27
Jeremy Chardy             27
Thomaz Bellucci           27
Viktor Troicki            27
Steve Johnson             27
Dominic Thiem             26
Alexandr Dolgopolov       26
Bernard Tomic             26
Andreas Haider Maurer     26
Fernando Verdasco         26
Santiago Giraldo          26
Feliciano Lopez           26
Sergiy Stakhovsky         25
Pablo Cuevas              25
Simone Bolelli            25
Pablo Carreno Busta       25
Fabio Fognini             25
Guillermo Garcia Lopez    25
Ivo Karlovic              25
Andreas Seppi             24
David Goffin              24
Mikhail Youzhny           24
Gilles Muller             24
Kevin Anderson            24
                          ..
Inigo Cervantes Huegun     1
Lamine Ouahab              1
Calvin Hemery              1
Giovanni Lapentti          1
Jabor Al Mutawa            1
Tommy Paul                 1
Lorenzo Giustino           1
Rhyne Williams             1
David Vega Hernandez       1
Aslan Karatsev             1
Alexandre Sidorenko        1
Jesse Huta Galung          1
Maxime Teixeira            1
Niels Desein               1
Eric Quigley               1
Arthur De Greef            1
Darian King                1
Jordan Thompson            1
Mate Pavic                 1
Matteo Donati              1
Benjamin Balleret          1
Gonzalo Escobar            1
Gianni Mina                1
Filip Peliwo               1
Federico Gaio              1
Nikola Mektic              1
James Mcgee                1
Tim Puetz                  1
Takuto Niki                1
Noah Rubin                 1
Name: loser_name, Length: 282, dtype: int64

In [17]:
w_fst_srv_pct_lst=[]
w_fst_srv_pct_diff_lst=[]
win_lose=[]
w_name=[]
w_age=[]
w_age_diff_lst=[]
w_height_diff=[]
w_rank=[]
w_rank_diff_lst=[]
w_scd_srv_pct_lst=[]
w_bp_saved_pct_lst=[]
w_surface=[]
for i, row in clean_two_df.iterrows():
    w_fst_srv_pct = row['w_1stWon']/row['w_svpt']#winner first serve percentage
    w_fst_srv_pct_lst.append(w_fst_srv_pct)
    l_fst_srv_pct = row['l_1stWon']/row['l_svpt']
    w_l_fst_sv_pct_diff = w_fst_srv_pct - l_fst_srv_pct#loser first serve percentage 
    w_name.append(row['winner_name'])
    w_age.append(row['winner_age'])
    w_scd_srv_pct= row['w_2ndWon']/row['w_svpt']#second serve % 
    w_scd_srv_pct_lst.append(w_scd_srv_pct)
    w_rank.append(row['winner_rank'])
    w_bp_saved_pct = row['w_bpSaved']/row['w_bpFaced']#break point saved %
    w_bp_saved_pct_lst.append(w_bp_saved_pct)
    w_rank_diff= row['winner_rank']-row['loser_rank']#rank diff
    w_rank_diff_lst.append(w_l_rank_diff)
    w_age_diff= row['winner_age']-row['loser_age']#age diff
    w_age_diff_lst.append(w_age_diff)
    win_lose.append(1)
    w_surface.append((row['surface']))
print(len(w_fst_srv_pct_lst), len(win_lose), len(w_name), len(w_age), len(w_rank), len(w_scd_srv_pct_lst), len(w_bp_saved_pct_lst), len(w_age_diff_lst),len(w_l_rank_diff_lst),len(w_surface))

NameError: name 'w_l_rank_diff' is not defined

In [ ]:
len(w_fst_srv_pct_lst)

In [ ]:
len(clean_df)

In [ ]:
#match ups
df_Nadal_win = clean_two_df.loc[clean_two_df['winner_name'] == 'Rafael Nadal', 'loser_name']
df_Nadal_win

In [ ]:
df_Nadal_lose = clean_two_df.loc[clean_two_df['loser_name'] == 'Rafael Nadal', 'winner_name']
df_Nadal_lose

In [ ]:
tourney_date=[]
l_player_id=[]
w_player_id=[]
w_player_name=[]
l_player_name=[]
w_rank=[]
l_rank=[]
w_age=[]
l_age=[]
w_fst_srv_pct_lst=[]
l_fst_srv_pct_lst=[]
w_scd_srv_pct_lst=[]
l_scd_srv_pct_lst=[]
w_bp_saved_pct_lst=[]
l_bp_saved_pct_lst=[]

for i, row in clean_two_df.iterrows():
    w_fst_srv_pct = row['w_1stWon']/row['w_svpt']#winner first serve percentage
    w_fst_srv_pct_lst.append(w_fst_srv_pct)
    l_fst_srv_pct = row['l_1stWon']/row['l_svpt']
    l_fst_srv_pct_lst.append(l_fst_srv_pct)
    w_player_id.append(row['winner_id'])
    l_player_id.append(row['loser_id'])
    w_age.append(row['winner_age'])
    l_age.append(row['loser_age'])
    w_player_name.append(row['winner_name'])
    l_player_name.append(row['loser_name'])
    w_scd_srv_pct= row['w_2ndWon']/row['w_svpt']#second serve % 
    w_scd_srv_pct_lst.append(w_scd_srv_pct)
    l_scd_srv_pct= row['l_2ndWon']/row['l_svpt']
    l_scd_srv_pct_lst.append(l_scd_srv_pct)
    w_rank.append(row['winner_rank'])
    l_rank.append(row['loser_rank'])
    w_bp_saved_pct = row['w_bpSaved']/row['w_bpFaced']#break point saved %
    w_bp_saved_pct_lst.append(w_bp_saved_pct)
    l_bp_saved_pct = row['l_bpSaved']/row['l_bpFaced']
    l_bp_saved_pct_lst.append(l_bp_saved_pct)
    tourney_date.append(row['tourney_date'])
print(len(w_fst_srv_pct_lst),len(l_fst_srv_pct_lst), len(w_player_id), len(l_player_id), len(w_age), len(l_age), len(l_rank), len(w_rank), len(w_scd_srv_pct_lst), len(l_scd_srv_pct_lst),len(w_bp_saved_pct_lst), len(w_player_name), len(l_player_name),len(l_bp_saved_pct_lst),len(tourney_date))
rows= zip(tourney_date,
l_player_id,
w_player_id,
w_player_name,
l_player_name,
w_rank,
l_rank,
w_age,
l_age,
w_fst_srv_pct_lst,
l_fst_srv_pct_lst,
w_scd_srv_pct_lst,
l_scd_srv_pct_lst,
w_bp_saved_pct_lst,
l_bp_saved_pct_lst
)
headers=['tourney_date',
'loser_player_id',
'winner_player_id',
'w_player_name',
'l_player_name',
'winner_rank',
'loser_rank',
'winner_age',
'loser_age',
'w_fst_srv_pct',
'l_fst_srv_pct',
'w_scd_srv_pct',
'l_scd_srv_pct',
'w_bp_saved_pct',
'l_bp_saved_pct']

In [ ]:

csvfile = "/Users/forrestbadgley/Documents/DataScience/Homework/FinalProject/pre_processed/tennis_2015_processed.csv"

with open(csvfile, "w") as f:
    writer = csv.writer(f)
    writer.writerow(headers)
    for row in rows:
        writer.writerow(row)

In [ ]:

df = pd.read_csv('pre_processed/tennis_2015_processed.csv')
df.head(10)

In [ ]:
df_2014 = pd.read_csv('tennis_2014.csv')
df_2014.head(10)

In [ ]:
for cell in df_2014['w_svpt']:
	if cell  == 0:
		print("zero in cell")

In [ ]:
clean_df_2014=df_2014[(df_2014 != 0).all(1)]
clean_df_2014.head()

In [ ]:
clean_df_2014['full_count'] = clean_df_2014.apply(lambda x: x.count(), axis=1)
clean_df_2014

In [ ]:
clean_df_2014= clean_df_2014[np.isfinite(clean_df_2014['w_svpt'])]
clean_df_2014

In [ ]:
tourney_date=[]
l_player_id=[]
w_player_id=[]
w_player_name=[]
l_player_name=[]
w_rank=[]
l_rank=[]
w_age=[]
l_age=[]
w_fst_srv_pct_lst=[]
l_fst_srv_pct_lst=[]
w_scd_srv_pct_lst=[]
l_scd_srv_pct_lst=[]
w_bp_saved_pct_lst=[]
l_bp_saved_pct_lst=[]

for i, row in clean_df_2014.iterrows():
    w_fst_srv_pct = row['w_1stWon']/row['w_svpt']#winner first serve percentage
    w_fst_srv_pct_lst.append(w_fst_srv_pct)
    l_fst_srv_pct = row['l_1stWon']/row['l_svpt']
    l_fst_srv_pct_lst.append(l_fst_srv_pct)
    w_player_id.append(row['winner_id'])
    l_player_id.append(row['loser_id'])
    w_age.append(row['winner_age'])
    l_age.append(row['loser_age'])
    w_player_name.append(row['winner_name'])
    l_player_name.append(row['loser_name'])
    w_scd_srv_pct= row['w_2ndWon']/row['w_svpt']#second serve % 
    w_scd_srv_pct_lst.append(w_scd_srv_pct)
    l_scd_srv_pct= row['l_2ndWon']/row['l_svpt']
    l_scd_srv_pct_lst.append(l_scd_srv_pct)
    w_rank.append(row['winner_rank'])
    l_rank.append(row['loser_rank'])
    w_bp_saved_pct = row['w_bpSaved']/row['w_bpFaced']#break point saved %
    w_bp_saved_pct_lst.append(w_bp_saved_pct)
    l_bp_saved_pct = row['l_bpSaved']/row['l_bpFaced']
    l_bp_saved_pct_lst.append(l_bp_saved_pct)
    tourney_date.append(row['tourney_date'])
print(len(w_fst_srv_pct_lst),len(l_fst_srv_pct_lst), len(w_player_id), len(l_player_id), len(w_age), len(l_age), len(l_rank), len(w_rank), len(w_scd_srv_pct_lst), len(l_scd_srv_pct_lst),len(w_bp_saved_pct_lst), len(w_player_name), len(l_player_name),len(l_bp_saved_pct_lst),len(tourney_date))
rows= zip(tourney_date,
l_player_id,
w_player_id,
w_player_name,
l_player_name,
w_rank,
l_rank,
w_age,
l_age,
w_fst_srv_pct_lst,
l_fst_srv_pct_lst,
w_scd_srv_pct_lst,
l_scd_srv_pct_lst,
w_bp_saved_pct_lst,
l_bp_saved_pct_lst
)
headers=['tourney_date',
'loser_player_id',
'winner_player_id',
'w_player_name',
'l_player_name',
'winner_rank',
'loser_rank',
'winner_age',
'loser_age',
'w_fst_srv_pct',
'l_fst_srv_pct',
'w_scd_srv_pct',
'l_scd_srv_pct',
'w_bp_saved_pct',
'l_bp_saved_pct']

In [ ]:
csvfile = "/Users/forrestbadgley/Documents/DataScience/Homework/FinalProject/pre_processed/tennis_2014_processed.csv"

with open(csvfile, "w") as f:
    writer = csv.writer(f)
    writer.writerow(headers)
    for row in rows:
        writer.writerow(row)

In [ ]:
df = pd.read_csv('pre_processed/tennis_2014_processed.csv')
df.head(10)